<form>
<div>
	<div class="row">
		<div class="col-xs-9">
			<h1>Чат курса № {{ chat.course }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			<textarea class="form-control" ng-model="newContent.text"></textarea>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-success" ng-click="addNewContent();">Отправить</button>
		</div>
	</div>
	<div class="row btm" ng-repeat="msg in chat.content.slice().reverse()">
		<div class="row">
			<div class="col-xs-6">
				<span class="username">{{ msg.username }}</span><br/>
			</div>
			<div class="col-xs-6">
				<span class="timestamp">{{ msg.dt | date:'yyyy-MM-dd HH:mm:ss Z' }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{ msg.text }}
			</div>
		</div>
	</div>
</div>
</form>
